<!DOCTYPE html>
<html>
<body>

<form action = "/Usuario_natural/actualizar/<%= Usuario_natural.id %>" method= "POST">
<h1> Editar Perfil </h1>

<input value= "<%=  Usuario_natural.Nombre %>" type="text" name="Nombre"><br />
<input value= "<%=  Usuario_natural.Correo %>" type="text" name="Correo"><br />
<input value= "<%=  Usuario_natural.Apellido %>" type="text" name="Apellido"><br />
<input value= "<%=  Usuario_natural.Presupuesto %>" type="text" name="Presupuesto"><br />
<input type="submit" value = "editar Perfil">



</body>
</html>









