<!DOCTYPE html>
<html>

<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/styles/main.css">

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<title> DisfrutaCcs </title>	

</head>

<body>

<nav class="se-gris padding-largo lato mediano">
<ul class="no lista" id="no-lista">

  <li  > <a href="http://localhost:1337/"> <b>DisfrutaCcs </b></a> </li>

</ul>
</nav>

  <div align="center">


<h2 class="pacifico grande verde"> Administrador </h2>
<hr>

<h2 class="lato"> Nombre </h2>

<h2 class="lato mediano"><b><%= Usuario_admin.Nombre %></b></h2>

<h2 class="lato"> Nombre de usuario </h2>

<h2 class="lato mediano"> <b><%= Usuario_admin.Alias %></b></h2>

<h2 class="lato"> Correo </h2>


<h2 class="lato mediano"> <b><%= Usuario_admin.Correo %></b></h2>

<br>

<form action="/Local/registrar/" >
<tr><td><td><input type="submit" value="Registrar Local" class="lato"></td></td></tr>
<input type='hidden' value= "<%= Usuario_admin.id %>" name='owner'>
</form>
<br>

<form action="/Local/buscar/" >
<input type='hidden' value= "<%= Usuario_admin.id %>" name='owner'>
<tr><td><td><input type="submit" value="Mis locales" class="lato"></td></td></tr>
</form>


</div>
</body>
</html>






