<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/styles/main.css">

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>


<body>

<nav class="se-gris padding-largo lato mediano">
<ul class="no lista" id="no-lista">

  <li  > <a href="http://localhost:1337/"> DisfrutaCcs </a> </li>
  
  <li class="col-md-3 inline-block">Consultar</li>


</ul>
</nav>
<div align="center">

<h1 class="pacifico grande verde"> Perfil de administrador </h1>


<hr>
<<<<<<< HEAD

<h2 class="lato"> Nombre </h2>
<h2 class="lato mediano"><b><%= Usuario_admin.Nombre %></b></h2>

<h2 class="lato"> Nombre de usuario </h2>

<h2 class="lato mediano"> <b><%= Usuario_admin.Alias %></b></h2>

<h2 class="lato"> Correo </h2>

<h2 class="lato mediano"> <b><%= Usuario_admin.Correo %></b></h2>

<br>

=======
<h2> Nombre de usuario: <%= Usuario_admin.Alias %></h1>
<h3><%= Usuario_admin.Correo %></h1>
>>>>>>> origin/master

<form action="/" >
<tr><td><td><input type="submit" value="Volver"></td></td></tr>
</form>
<br>
<form action="/Local/registrar/" >
<tr><td><td><input type="submit" value="Registrar Local"></td></td></tr>
<input type='hidden' value= "<%= Usuario_admin.id %>" name='owner'>
</form>
<br>
<form action="/Local/mislocales/" >
<input type='hidden' value= "<%= Usuario_admin.id %>" name='owner'>
<tr><td><td><input type="submit" value="Mis locales"></td></td></tr>
</form>


</div>
</body>
</html>










